h1{
    color:white
}

h2{
   border:solid white;
   background-color: black;
   color: white;
}
h4{
    color: white;
}
.header{
    background-color: darkcyan;
    margin-top: 1em;

}
.aboutme{
    background-color: cyan;
    display:flex;
    justify-content: space-evenly;
   
}
.solar{
    background-color:rgb(85, 85, 236);
    
    display:flex;
    justify-content: space-evenly;
}

.sts{
    
    background-color: rgb(116, 150, 238);
    display:flex;
    justify-content: space-evenly;
}
.ab{
    background-color: rgb(121, 33, 33);
    display: flex;
    justify-content: space-evenly;
}
.crg{
    background-color: rgb(70,70,100);
    display: flex;
    justify-content: space-evenly;
}
.end{
   
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
}
.amnote{
    color: #ffffff;
    background-color: #000000;
    margin-top: 2em;
   
    display: flex;
    justify-content: space-evenly;
}
body{
    background-color: #000000;
}
