h1{
    color:white
}

h2{
   border:solid white;
   background-color: black;
   color: white;
}
h4{
    color: white;
}
.header{
    background-color: darkcyan;
    margin-top: 1em;

}
.aboutme{
    background-color: cyan;
    display:flex;
    justify-content: space-evenly;
   
}
.solar{
    background-color: black;
    
    display:flex;
    justify-content: space-evenly;
}

.sts{
    
    background-color: black;
    display:flex;
    justify-content: space-evenly;
}
.ab{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.crg{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.end{
   
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}
.amnote{
    color: white;
    background-color: black;
    margin-top: 2em;
   
    display: flex;
    justify-content: space-evenly;
}
